body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
.container-fluid {
  background-color: #f1e8e8;
  height: 150vh;
  width: 100%;
  margin: 0;
}
a {
  color: gray;
}
.user-list {
  padding-top: 70px;
}
.count {
  width: 46rem;
  margin-bottom: 0.2rem;
  position: relative;
}
img {
  width: 85px;
  height: 85px;
}
.card {
  width: 46rem;
  border: 0px solid black;
  margin-bottom: 0.6rem;
  position: relative;
}
.row {
  justify-content: center;
}
table {
  font-size: 14px;
}
.pagination > a{
  text-decoration: none;
  color: black;
}
.pagination {
  position: relative;
}
.page-item{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}